.header{
	margin: auto;
	width: 200px;
}
.content{
	height: 550px;
	border-top: solid 1px #B8B8B8;
}
.footer{
	border-bottom: solid 1px #B8B8B8;
}
.left {
	padding-top: 20px;
	float: left;
	height: 520px;
}
.right {
	padding-top: 20px;
	padding-left: 20px;
	border-left: solid 1px #B8B8B8;
	float: right;
	height: 520px;
}